h1 {
  color: green;
  font-style: italic;
}

.note {
  color: grey;
  padding-top: 3px;
  font-size: 15px;
}

.notification {
  background-color: #f0f8ff;
  border: 1px solid #b0e0e6;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.notification.success {
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.notification.error {
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

div {
  margin-top: 20px;
  margin-bottom: 20px;
}